@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger"style="font-weight:700">Zugriff verweigert</h2>
    <br />
    <p class="text-danger">Du hast keinen Zugang zu dieser Ressource</p>
</header>
