@{
    ViewData["Title"] = "Confirm email";
}

<h2 style="font-weight:700">@ViewData["Title"]</h2style="font-weight:700">
    <br />
<div>
    <p>
        Danke für das Bestätigen deiner Email.
    </p>
</div>
