@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 style="font-weight:700">@ViewData["Title"]</h2>
<br />
<h4>Associate your @ViewData["LoginProvider"] account.</h4>
<hr />
<br />

<p class="text-info">
    Du wurdest erfolgreic mit <strong>@ViewData["LoginProvider"]</strong> authentifiziert.
    Bitte gib eine Email ein und klicke den Button zum Beenden des Logins
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
