@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger" style="font-weight:700">@ViewData["Title"]</h2>
    <br />
    <p class="text-danger">Dieser Account wurde gesperrt, bitte versuche es später noch einmal.</p>
</header>
