@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2 style="font-weight:700">@ViewData["Title"]</h2>
<br />
<p>
    Dein Passwort wurde zurückgesetzt. Bitte <a asp-action="Login">klicke hier umd dich anzumelden.</a>.
</p>
