@{
    ViewData["About"] = "About";
}
<head>
    <!--META und TITLE unverändert lassen-->
    <link href="_Layout.cshtml" rel="stylesheet" type="text/css" media="screen" />
</head>
<title>About</title>
<body id="aboutseite">
    <div id="wrapper">
        <div id="kopfbereich">
            <h2>About</h2>
        </div> <!--Ende kopfbereich-->
        <div id="navibereich">
        </div> <!--Ende navibereich-->
        <div id="textbereich" style="font-size: large">
            <div class="padded">
                <p>Hallo ich bin Rewe....</p>
            </div>
        </div> <!--Ende textbereich-->
        <div id="fussbereich">
        </div> <!--Ende fussbereich-->
    </div> <!--Ende wrapper-->
</body>