@model HomeViewModel
@{
    ViewData["Home"] = "Home";
}

<div class="row">
    <div class="col-md-9">
        <div id="kopfbereich">
            <h2 style="font-weight:700">Home</h2>
            <br />
        </div>
        <div id="textbereich">
            <p>Hallo, schön dass du hier auf <strong>rewesblog</strong> gelandet bist! Hier werden wöchentlich Blogeinträge beziehungsweise <br/> Einträge zu bestimmten Themen hochgeladen.
            Mein Name ist Rebecca und ich bin 15 Jahre alt. <br /> Mehr Informationen über mich erhälst du auf der Seite <a href="About">About.</a> <br /> <br />
            Ich wünsche Dir viel Spaß beim Lesen meines <a href="Blog">Blogs.</a><br />
            Du kannst mir gerne ein Feedback mit Kritik und eventuellen Wünschen auf der Seite <a href="Contact">Kontakt</a> zukommen lassen. <br /> <br /><br />

            Deine Rebecca
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div style="overflow:hidden;">
            <div class="form-group">
                <div id="datetimepicker12"></div>
            </div>
        </div>
        @Html.Partial("HotTopicBox", Model.hotmodel)
    </div>
</div>
@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            moment.locale('de');

            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: false,
                format: 'L', //Localized Date
                locale: moment.locale('de')
            });
            
            $(HotTopicArray).each(function () {                
                $('#HotTopicBox').after("<div class=\"HotTopicElement\" id=\"" + this.ID + "\" style= \"font-size: " + this.Schriftgröße + "px; line-height: " + this.Schriftgröße + "px; height: " + this.Schriftgröße + "px; color: " + this.Schriftfarbe+"; \"><a href=\"@Url.Action("Blogdetail", "Blog")/"+this.ID+"\">"+ this.Titel + "</div>");
                var ele = $('#' + this.ID);
                var added = false;
                $('.HotTopicRow').each(function () {
                    var summe = 0;
                    $(this).find('.HotTopicElement').each(function () {
                        summe += $(this).outerWidth(true);
                    });
                    if ($(this).innerWidth() > (summe + $(ele).outerWidth(true))) {
                        $(ele).css({ "left": summe + "px" });
                        $(this).append($(ele));
                        added = true;
                        return;
                    }
                });
                if (added != true) {
                    $('#HotTopicBox').append("<div class=\"HotTopicRow\"></div>");
                    $('.HotTopicRow').last().append($(ele));
                }
            });
            $('.HotTopicRow').each(function () {
                var height = 0;
                $(this).find('.HotTopicElement').each(function () {
                    if ($(this).outerHeight() > height) {
                        height = $(this).outerHeight(true);
                    }
                });
                $(this).css({ "height": height + "px" });
            });
            
        });
    </script>
}