@{
    ViewData["Home"] = "Home";
}

<head>
    <!--META und TITLE unverändert lassen-->
    <title>
        Mein Blog
    </title>
    <meta name="description" content="Meine kleine Website mit vielen tollen Inhalten!" />
    <link href="htto://www.w3.org/StyleSheets/Core/Traditional" rel="stylesheet" type="text/css" media="screen" />
</head>
<body id="homeseite">
    <div id="wrapper">
        <div id="kopfbereich">
            <h2>Home</h2>
        </div> <!--Ende kopfbereich-->
        <div id="navibereich">
        </div> <!--Ende navibereich-->
        <div id="textbereich">
            <p><em>Hallo</em> auf <strong>rewesblog</strong></p>
            <ul>
                <li>Hallo</li>
                <li>auf</li>
                <li>meinem</li>
                <li>Blog</li>
                </ul>
            <table>
                <tr>
                    <td>Zelle 1</td>
                    <td>Zelle 2</td>
                </tr>
                <tr>
                    <td>Zelle 3</td>
                    <td>Zelle 4</td>
                </tr>
                </table>
            <a href="http://selfhtml.de" title="Text des Links beim Drüberfahren mit der Maus" target="_blank">SelfHTML!</a>
                <p>Der folgende Absatz ist ein Block-Zitat mit Quellenangabe:</p>
                <blockquote>
                    <p>Sie können Zitate von Fremdautoren in einem eigenen, anders formatierten Absatz hervorheben.</p>
                    <p>
                    <cite>
                        (Quelle:<a href="http://de.selfhtml.org/html/text/zitate_adressen.htm">SelfHTML</a>)
                        </cite>
                    </p>
                </blockquote>
        </div> <!--Ende textbereich-->
        <div id="seitenbereich">
            <
            <iframe src="http://www.kalender-uhrzeit.de/calendar/iframe/type/calendar/numMonth/1/month/9/showBankholiday/1/year/2017/country/1/showHoliday/0/federal/13"
                    name="" width="200" height="200" scrolling="no" marginheight="0" marginwidth="0"
                    frameborder="0">
            </iframe>
            <p style="font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif">
                <a href="http://www.kalender-uhrzeit.de/kalender">Kalender
                </a> (c) by Kalender-Uhrzeit.de
            </p>
        </div> <!--Ende Seitenbereich-->
    </div><!--Ende wrapper/umschlag-->
</body>