
@{
    ViewData["Thema2"] = "Thema2";
}


<div id="wrapper">
    <div id="kopfbereich">
        <h2>Thema2</h2>
    </div> <!--Ende kopfbereich-->
    <div id="navibereich">
    </div> <!--Ende navibereich-->
    <div id="textbereich" style="font-size: large">
        <div class="padded">
            <p></p>
        </div>
    </div> <!--Ende textbereich-->
    <div id="fussbereich">
    </div> <!--Ende fussbereich-->
</div> <!--Ende wrapper-->


